.elementor-20 .elementor-element.elementor-element-6163d45 > .tippy-popper .tippy-tooltip .tippy-content {text-align: center;}
.elementor-20 .elementor-element.elementor-element-7b49965 .elementor-spacer-inner {height: 50px;}
.elementor-20 .elementor-element.elementor-element-7b49965 > .tippy-popper .tippy-tooltip .tippy-content {text-align: center;}