.elementor-628 .elementor-element.elementor-element-7607064 {text-align: center;}
.elementor-628 .elementor-element.elementor-element-7607064 .elementor-heading-title {color: #fff;}
.elementor-628 .elementor-element.elementor-element-7607064 > .tippy-popper .tippy-tooltip .tippy-content {text-align: center;}
.elementor-628 .elementor-element.elementor-element-2ae0f76 {text-align: center;}
.elementor-628 .elementor-element.elementor-element-2ae0f76 > .tippy-popper .tippy-tooltip .tippy-content {text-align: center;}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__list {flex-direction: row;height: 400px;margin: calc(-4px / 2);}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__item {margin: calc(4px / 2);}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__content {justify-content: center;}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__title {text-align: center;order: 1;}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__desc {text-align: center;order: 2;}
.elementor-628 .elementor-element.elementor-element-057abcb .jet-image-accordion__button {align-self: center;order: 3;}
.elementor-628 .elementor-element.elementor-element-057abcb > .tippy-popper .tippy-tooltip .tippy-content {text-align: center;}
@media (min-width:768px) {.elementor-628 .elementor-element.elementor-element-dde907f {width: 8.78%;}
	.elementor-628 .elementor-element.elementor-element-0bbb256 {width: 91.22%;}}